body {
    background: lightcoral;
    font-family: 'Noto Sans JP', sans-serif;;
    color: lightblue;
    background-image: url("img/me_min.svg");
    background-repeat: round;
}
@media(max-width:480px){
    .header h1{
        font-size: 20vw;
    }
}
.header {
    /* margin: 50%; */
    font-family: 'Carter One', cursive;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 3.5em;
    letter-spacing: 0.5em;
    text-align: center;
    line-height: 1.5em;
    text-transform: lowercase;
}
.header h3 {
    font-size: .75em;
    letter-spacing: .25em;
}

.card-grid {
    margin: auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    row-gap: 2rem;
}


.text-box-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: palegoldenrod;
    border-radius: 1rem;
    color: rebeccapurple;
}

.grid-picture {
    width: 15vw;
    height: 40vh;
    position: relative;
    border-radius: 1rem;
}

.card {
    width: 100%;
    height: 300px;
    border-radius: 1rem;
    color: hsla(200,0%,0%,.5);
}

.card .media {
    text-align: center;
    height: 194px;
}


.card .list-item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
}

.card .list-item-graphic {
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding-right: 16px;
}

.card .title {
    height: 40px;
    padding-top: 16px;
    padding-left: 16px;
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    border: 3px;
}

.card .body {
    line-height: 24px;
    font: 17px;
    padding-left: 16px;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), 0 0 15px 0 rgba(0, 0, 0, 0.02), 0 0 20px 4px rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease-in-out;
}

.card:nth-child(4n+1) {
    background-color: powderblue;
}
.card:nth-child(4n+2) {
    background-color: palegreen;
}

.card:nth-child(4n+3) {
    background-color: palegoldenrod;
}
.card:nth-child(4n+4) {
    background-color: slateblue;
}